:root {
    
}

body {
    margin: 0;
}

header {
    text-align: center;
    border-bottom: 1px solid #333;
    padding: 5px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.gridContainer .color {
    min-height: 10vh;
    min-width: 10vh;
    padding: 5px;
}

.gridContainer .color input {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
}

.gridContainer .color .title {
    text-align: center;
    margin: 0;
    pointer-events: none;
}

.gridContainer .color .title.light {
    color: white;
}

.gridContainer color .title.dark {
    color: black;
}

.gridContainer .color .subtitle {
    text-align: center;
    margin: 0;
    pointer-events: none;
}

.gridContainer .color .subtitle.light {
    color: #bbb;
}

.gridContainer .color .subtitle.dark {
    color: #333;
}

.details .title {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.details .title h1 {
    height: 100%;
    margin: 0px;
    text-align: center;
}

.details .title.light {
    color: white;
}

.details .title p {
    height: 100%;
    margin: 0px;
    text-align: center;
}

.details .title.dark {
    color: black;
}

.selector {
    border: 1px solid #eee;
    border-left: 5px solid #ccc;
    padding-left: 5px;
}

.paneContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.details {
    flex: 1 1 auto;
}

.selectorViewer .title {
    text-align: center;
}

.selectorViewer .selectorContainer {
    border: 1px solid #eee;
    border-left: 5px solid #333;
    color: black;
    padding: 5px;
}

.selectorViewer .selectorContainer p {
    margin: 0px;
    font-family: mono;
    pointer-events: none;
}

.selectorViewer .selectorContainer .color {
    margin-left: 5px;
    padding: 5px;
    pointer-events: none;
}

.selectorViewer .selectorContainer .color p {
    pointer-events: none;
}

.selectorViewer .selectorContainer .color.light p {
    color: white;
}

.selectorViewer .selectorContainer .color.dark p {
    color: black;
}